html,
body {
	font-size: 16px;
	background-color: #f5f5f5;
	color: #4c4c4c;
	font-family: 'Avenir-Book', Helvetica, Arial, sans-serif;
}

/*Custom Fonts*/

@font-face {
	font-family: Avenir-Light;
	src: url("../fonts/AvenirLTStd-Light.otf");
}

@font-face {
	font-family: Avenir-Book;
	src: url("../fonts/AvenirLTStd-Book.otf");
}

@font-face {
	font-family: Gotham-Thin;
	src: url("../fonts/Gotham-Thin.otf");
}

@font-face {
	font-family: Gotham-Book;
	src: url("../fonts/Gotham-Book.otf");
}

@font-face {
	font-family: Gotham-Medium;
	src: url("../fonts/Gotham-Medium.otf");
}

@font-face {
	font-family: HeroicCondensed-Bold;
	src: url("../fonts/HeroicCondensed-Bold.otf");
}

@font-face {
	font-family: HeroicCondensed-Medium;
	src: url("../fonts/HeroicCondensed-Medium.otf");
}

/*Font Styles*/

a {
	color: #4b768a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header a,
header a:hover {
	text-decoration: none;
}

h1 {
	font-family: 'HeroicCondensed-Bold', 'Gotham-Medium', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 3rem;
}

h2,
h3 {
	font-family: 'HeroicCondensed-Medium', 'Gotham-Medium', Helvetica, Arial, sans-serif;
	font-size: 2.75rem;
}

h3 {
	font-size: 1.75rem;
}

p {
	line-height: 1.4;
}

/*Flex parents*/

.container,
header,
.header,
.menu,
.menu ul,
.sub,
.sub li,
.hero,
.splash,
.main,
footer,
form,
.holder {
	display: flex;
}

/*Container Styles*/
.container {
	max-width: 1400px;
	width: 100%;
	padding: 0px 15px;
}

.main.contact,
.main.portfolio {
	min-height: calc(100vh - 217px);
	align-items: flex-start;
}

/*Header Styles*/

header {
	justify-content: center;
	border-bottom: 1px solid #cccccc;
	position: relative;
	z-index: 10;
}

.header {
	justify-content: space-between;
	align-items: center;
}

.menu a {
	color: #4c4c4c;
	padding: 25px;
	transition-duration: 0.3s;
}

.menu a:hover {
	color: #f5f5f5;
	background-color: #4b768a;
	transition-duration: 0.3s;
}

.menu li {
	align-items: center;
	display: inline-flex;
}

.hassub a:hover {
	color: #ffffff;
	background-color: #4b768a;
	transition-duration: 0.3s;
	width: 100%;
}

.hassub ul {
	display: none;
}

.hassub:hover ul {
	display: flex;
	flex-direction: column;
	margin-top: 87px;
}

.sub {
	position: absolute;
	margin-top: 10px;
	background-color: #f5f5f5;
}

.sub a {
	padding: 10px 25px;
}

/*Hero*/

.hero {
	height: 75vh;
	min-height: 500px;
	overflow: hidden;
	align-items: center;
	background-color: #cccccc;
	background-size: cover;
	background-position: center;
	justify-content: center;
}

.hero img {
	width: 100%;
}

.hero .container {
	flex-direction: column;
	position: relative;
	z-index: 5;
}

.hero h1 {
	display: block;
	font-size: 6rem;
	width: 100%;
	color: #f5f5f5;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.hero a {
	display: block;
	font-size: 1.25rem;
	text-decoration: none;
	margin-top: 25px;
	color: #f5f5f5;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.hero.about h1 {
	color: #4c4c4c;
	text-shadow: none;
}

.hero.about p {
	width: 50%;
}

/*Body*/

.main {
	padding: 50px 0px;
	justify-content: center;
}

.main.about {
	padding-bottom: 15px;
}

.main .container {
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	background-color: #ffffff;
	width: 31%;
}

.about .card {
	margin-bottom: 35px;
}

.splash {
	height: 175px;
	overflow: hidden;
	align-items: center;
}

.about .splash {
	height: auto;
	padding: 20px;
	background: linear-gradient(to right, hsla(199, 30%, 42%, 1), hsla(199, 20%, 35%, 1));
	color: #f5f5f5;
}

.about .splash:hover {
	background: linear-gradient(to right, hsla(199, 20%, 35%, 1), hsla(199, 30%, 42%, 1));
}

.splash img,
.thumb img {
	width: 100%;
	transform: scale(1);
	transition-duration: 0.3s;
}

.splash img:hover,
.thumb img:hover {
	transform: scale(1.1);
	transition-duration: 0.3s;
}

.teaser {
	padding: 20px;
}

.teaser p {
	margin: 10px 0px;
}

.longcopy,
form {
	margin: 25px 0px 0px;
}

.longcopy h2 {
	margin-bottom: 10px;
}

.about .longcopy p {
	margin-bottom: 25px;
}

/*Portfolio*/
.portfolio .card {
	width: calc((100% / 3) - 25px);
}

.portfolio .card:nth-of-type(2) {
	margin: 0 25px;
}

.portfolio .splash {
	height: 65vh;
	display: flex;
	justify-content: center;
}

.portfolio .splash img {
	width: auto;
	height: 65vh;
}

.portfolio h3 {
	position: relative;
	z-index: 15;
	transform: rotate(270deg);
	margin: -50px 0 0 30px;
	max-width: 0px;
	font-size: 3rem;
}

/*Contact*/
.contact .longcopy {
	width: 48%;
}

form {
	width: 48%;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

form ul {
	width: 100%;
}

form label,
.hide {
	display: none;
}

form input {
	width: 100%;
}

input,
textarea {
	font-family: 'Avenir-Book', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.4;
	margin-bottom: 25px;
	border: 0;
	border-radius: 5px;
}

input:focus,
textarea:focus {
	outline: none;
}

.small {
	padding: 10px;
}

.large {
	padding: 10px;
	min-height: 200px;
	width: 100%;
}

.submit {
	background-color: #4c4c4c;
	color: #f5f5f5;
	padding: 15px;
	text-transform: uppercase;
	font-family: 'Gotham-Medium', Helvetica, Arial, sans-serif;
	transition-duration: 0.3s;
}

.submit:hover {
	background-color: #4b768a;
	transition-duration: 0.3s;
}

.submit:active {
	background-color: #76b758;
	transition-duration: 0.3s;
}

form input:nth-of-type(1),
form input:nth-of-type(2),
form input:nth-of-type(3) {
	width: 100%;
}

/*Gallery*/
.holder {
	flex-wrap: wrap;
}
.thumb {
	margin: 0 10px 10px 0;
	width: calc((100% / 4) - 10px);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 200px;
}

.thumb img {
	transform: scale(1.1);
}

.thumb img:hover {
	transform: scale(1.15);
}

#colorbox {
	outline: none;
	font-family: 'Avenir-Book', Helvetica, Arial, sans-serif;
}

#cboxOverlay {
	background-color: #f5f5f5;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
}

#cboxTitle {
	position: absolute;
	top: 0;
	margin-top: -25px;
	color: #4c4c4c;
}

#cboxCurrent {
	display: none;
}

#colorbox button {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -25px;
	border: 0;
	background: none;
	font-size: 1rem;
	outline: none;
}

#colorbox button:hover {
	color: #4b768a;
}

#cboxPrevious {
	margin-right: 50px;
}

#cboxNext {
	margin-right: 25px;
}

#cboxContent {
	background-color: #e0e0e0;
}

/*Footer*/

footer {
	justify-content: center;
	padding: 15px 0px;
	border-top: 1px solid #cccccc;
	color: #cccccc;
	font-size: 0.75rem;
}

/*Slick Styles*/

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
	width: 100vw;
    height: 75vh;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: flex;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
	font-family: 'HeroicCondensed-Bold', Helvetica, Arial, sans-serif;
	border: none;
	background: none;
	position: absolute;
	z-index: 10;
	margin-top: calc(75vh / 2);
	color: #f5f5f5;
	font-size: 2rem;
}

.slick-arrow:focus {
	outline: none;
}

.slick-prev {
	left: 0;
	margin-left: 25px;
}

.slick-next {
	right: 0;
	top: 0;
	margin-right: 25px;
}
/*Slick End*/

@media only screen and (max-width: 900px) {
	html,
	body {
		font-size: 15px;
	}
	
	.hassub:hover ul {
		margin-top: 32px;
		margin-left: -107px;
	}
	
	.container {
		max-width: 700px;
	}
	
	.main {
		padding: 30px 0px;
	}
	
	.splash {
		height: 125px;
	}
	
	.about .card {
		width: 49%;
	}
	
	.hero,
	.slick-slide {
		height: 40vh;
	}
	
	.slick-arrow {
		margin-top: calc(40vh / 2);
		opacity: 0;
	}
	
	.thumb {
		max-height: 125px;
	}
	
	.thumb img {
		transform: scale(1.2);
	}

	.thumb img:hover {
		transform: scale(1.25);
	}
	
	.portfolio .card,
	.portfolio .card:nth-of-type(2) {
		width: 100%;
		margin: 0 0 30px 0;
	}
	
	.portfolio .card,
	.portfolio .splash {
		max-height: 300px;
	}
	
	.portfolio .splash img {
		width: 100%;
		height: auto;
	}
	
	.portfolio h3 {
		transform: rotate(0deg);
		margin: -60px 0 0 20px;
	}
	
	.contact .container {
		flex-direction: column-reverse;
	}
	
	.contact .longcopy,
	form {
		width: 100%;
	}
	
}
